body {
  margin: 0px;
  color: white;
  background: #1df2f0;
  background: -webkit-linear-gradient(100deg, #1df2f0 0%, #e94be8 100%);
  background: linear-gradient(100deg, #1df2f0 0%, #e94be8 100%);
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  padding: 50px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
  margin-top: 20px;
}

hr {
  margin-top: 25px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

button {
  margin-top: 20px;
  text-transform: uppercase;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  position: relative;
  background: linear-gradient(to right, #e94be8, #1df2f0);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.glitch:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}
