/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "style/normalize.scss";
@import "style/root.scss";
@import "style/fonts.scss";

body {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  color: $font-color;
}

#home-page {
  position: relative;
  width: 1440px;
  height: 810px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 467px;
  height: 232px;
  left: 152px;
  top: 159px;

  h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.002em;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
  }
}

@mixin small-box($left, $top, $bgc) {
  position: absolute;
  width: 268px;
  height: 240px;
  left: $left;
  top: $top;
  background: $background-color-box;
  border-radius: 24px;

  div {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 102px;
    top: 24px;
    background: $bgc;
    border-radius: 16px;

    img {
      position: absolute;
      width: 32px;
      height: 32px;
      left: 16px;
      top: 16px;
    }
  }

  h1 {
    position: absolute;
    width: 263px;
    height: 24px;
    left: 2px;
    top: 104px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  p {
    position: absolute;
    width: 236px;
    height: 72px;
    left: 16px;
    top: 144px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0.5;
  }
}

.content-box-1 {
  @include small-box(728px, 159px, #373155);
}

.content-box-2 {
  @include small-box(1020px, 159px, #2c3455);
}
.content-box-3 {
  @include small-box(728px, 430px, #274255);
}
.content-box-4 {
  @include small-box(1020px, 430px, #3d413f);
}

@media (max-width: 1112px) {
  #home-page {
    position: relative;
    width: 834px;
    height: 1194px;
  }

  .heading {
    position: absolute;
    width: 495px;
    height: 220px;
    left: 170px;
    top: 251px;

    h1 {
      position: absolute;
      width: 490px;
      height: 112px;
      left: -1px;
      top: -4px;
    }

    p {
      position: absolute;
      width: 496px;
      height: 96px;
      left: -1px;
      top: 124px;
    }
  }

  @mixin small-box($left, $top, $bgc) {
    position: absolute;
    width: 240px;
    height: 218px;
    left: $left;
    top: $top;
    background: $background-color-box;
    border-radius: 20px;

    div {
      width: 56px;
      height: 56px;
      left: 90px;
      top: 20px;
      border-radius: 16px;
      background: $bgc;

      img {
        width: 28px;
        height: 28px;
        left: 14px;
        top: 14px;
      }
    }

    h1 {
      width: 233px;
      height: 24px;
      left: 1px;
      top: 92px;
    }

    p {
      width: 209px;
      height: 66px;
      left: 14px;
      top: 132px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .content-box-1 {
    @include small-box(169px, 495px, #373155);
  }

  .content-box-2 {
    @include small-box(425px, 495px, #2c3455);
  }
  .content-box-3 {
    @include small-box(169px, 729px, #274255);
  }
  .content-box-4 {
    @include small-box(425px, 729px, #3d413f);
  }
}

@media (max-width: 475px) {
  #home-page {
    position: relative;
    width: 375px;
    height: 1184px;
  }

  .heading {
    position: absolute;
    position: relative;
    width: 343px;
    height: 218px;
    left: 16px;
    top: 46px;

    h1 {
      position: absolute;
      width: 343px;
      height: 80px;
      left: 0px;
      top: 2px;
      font-size: 32px;
      line-height: 40px;
    }

    p {
      position: absolute;
      width: 343px;
      height: 120px;
      left: 0px;
      top: 98px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 343px;
    height: 832px;
    left: 16px;
    top: 288px;

    .content-box-1 {
      position: static;
      width: 343px;
      height: 196px;
      background: $background-color-box;
      border-radius: 20px;
      flex: none;
      order: 0;
      flex-grow: 0;

      div {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 143.5px;
        top: 20px;

        img {
          position: absolute;
          width: 28px;
          height: 28px;
          left: 14px;
          top: 14px;
        }
      }

      h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 167px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        position: absolute;
        width: 303px;
        height: 44px;
        left: 20px;
        top: 130px;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .content-box-2 {
      position: static;
      width: 343px;
      height: 196px;
      background: $background-color-box;
      border-radius: 20px;
      flex: none;
      order: 1;
      flex-grow: 0;

      div {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 143.5px;
        top: 232px;

        img {
          position: absolute;
          width: 28px;
          height: 28px;
          left: 14px;
          top: 14px;
        }
      }

      h1 {
        position: absolute;
        top: 304px;
        left: 50%;
        transform: translateX(-50%);
        width: 167px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        position: absolute;
        width: 303px;
        height: 44px;
        left: 20px;
        top: 342px;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .content-box-3 {
      position: static;
      width: 343px;
      height: 196px;
      background: $background-color-box;
      border-radius: 20px;
      flex: none;
      order: 1;
      flex-grow: 0;

      div {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 143.5px;
        top: 444px;

        img {
          position: absolute;
          width: 28px;
          height: 28px;
          left: 14px;
          top: 14px;
        }
      }

      h1 {
        position: absolute;
        top: 516px;
        left: 50%;
        transform: translateX(-50%);
        width: 167px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        position: absolute;
        width: 303px;
        height: 44px;
        left: 20px;
        top: 556px;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .content-box-4 {
      position: static;
      width: 343px;
      height: 196px;
      background: $background-color-box;
      border-radius: 20px;
      flex: none;
      order: 1;
      flex-grow: 0;

      div {
        position: absolute;
        width: 56px;
        height: 56px;
        left: 143.5px;
        top: 656px;

        img {
          position: absolute;
          width: 28px;
          height: 28px;
          left: 14px;
          top: 14px;
        }
      }

      h1 {
        position: absolute;
        top: 728px;
        left: 50%;
        transform: translateX(-50%);
        width: 167px;
        height: 24px;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        position: absolute;
        width: 303px;
        height: 44px;
        left: 20px;
        top: 768px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
