---
import '../styles/global.css';
import { SITE_CONFIG } from '../config.ts';
import MatrixBackground from '../components/MatrixBackground.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
const defaultTheme = `${SITE_CONFIG.baseTheme || 'gold'}-dark`;
---

<!doctype html>
<html lang="pl" data-theme={defaultTheme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <title>{title}</title>

    <script is:inline define:vars={{ defaultTheme }}>
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme && (savedTheme.endsWith('-dark') || savedTheme.endsWith('-light'))) {
        document.documentElement.setAttribute('data-theme', savedTheme);
      } else {
        document.documentElement.setAttribute('data-theme', defaultTheme);
        localStorage.setItem('theme', defaultTheme);
      }
    </script>
  </head>
  
  <body class="relative min-h-screen overflow-x-hidden antialiased text-maintext">
    
    <MatrixBackground />
    <slot />

    <script is:inline>
      (function() {
        function deployEasterEgg() {
          console.clear();

          const savaqeBanner = `
▞▀▖▞▀▖▌ ▌▞▀▖▞▀▖▛▀▘▞▀▖▗▌ 
▚▄ ▙▄▌▚▗▘▙▄▌▌ ▌▙▄  ▗▘ ▌ 
▖ ▌▌ ▌▝▞ ▌ ▌▌▚▘▌  ▗▘  ▌ 
▝▀ ▘ ▘ ▘ ▘ ▘▝▘▘▀▀▘▀▀▘▝▀ 
`;
          
          // Renderowanie baneru w złotym kolorze
          console.log(`%c${savaqeBanner}`, "color: #E5D283; font-weight: bold; font-family: monospace; line-height: 1.2;");
          
          // 1. Spersonalizowane logi systemowe
          //console.log("%c[+] PRIVILEGE LEVEL: ROOT@SAVAQE21-PORTFOLIO", "color: #E5D283; font-weight: bold; font-family: monospace;");
          
          // 2. Skrócony, zielony komunikat o flag
          console.log(
            "%cFLAG{tak_udało_ci_sie}", 
            "color: #10b981; background: rgba(16, 185, 129, 0.08); padding: 5px 7px; border: 1px solid rgba(16, 185, 129, 0.3); border-radius: 3px; font-family: monospace; font-weight: bold; margin-top: 3px;"
          );
        }

        if (document.readyState === 'complete' || document.readyState === 'interactive') {
          deployEasterEgg();
        } else {
          document.addEventListener("DOMContentLoaded", deployEasterEgg);
        }
        document.documentElement.addEventListener("astro:after-swap", deployEasterEgg);
      })();
    </script>
  </body>
</html>